{% upload static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
  </head>
  <body>
    <header>
      <nav id="nav">
        <ul>
          {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <li>
            <a href="{% url 'create_receipt' %}"><div class="navItem">Create Receipt</div></a>
          </li>
          <li>
            <a href="{% url 'home' %}"><div class="navItem">My Receipts</div></a>
          </li>
          <li>
            <a href="{% url 'create_category' %}"><div class="navItem">Create Expense</div></a>
          </li>
          <li>
            <a href="{% url 'category_list' %}"><div class="navItem">My Expenses</div></a>
          </li>
          <li>
            <a href="{% url 'create_account' %}"><div class="navItem">Create Account</div></a>
          </li>
          <li>
            <a href="{% url 'account_list' %}"><div class="navItem">My Accounts</div></a>
          </li>
          <li>
            <a href="{% url 'logout' %}"><div class="navItem">Logout</div></a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}"><div class="navItem">Sign Up</div></a>
          </li>
            {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
